.user-card {
  background-color: $color-secondary;
  border-radius: 20px;
}

.container {
  padding: 20px 20px 20px 0;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 200px;
  height: 200px;

  background-color: rgb(95, 38, 38);

  transform: translateX(-30px);

  border-radius: 10px;

  &-stub {
    width: 50%;
    height: 50%;

    fill: $color-base;
  }
}

.header {
  display: flex;
  flex-direction: column;

  margin: 0 0 30px 0;
}

.user-name {
  display: inline-block;
  margin: 0 0 10px 0;

  text-transform: uppercase;
  font-size: 14px;
}

.name {
  font-size: 30px;
  font-weight: 700;
}

.item {
  display: flex;
  flex-direction: column;

  &:not(:last-of-type) {
    margin: 0 0 20px 0;
  }
}

.label {
  font-size: 13px;
  margin: 0 0 3px 0;
}

.text {
  display: inline-block;

  color: $color-base;
}