.box {
  width: 800px;
  height: calc(100vh - 100px);

  background-color: $color-graybase;
}

.content {
  display: flex;
  align-items: center;

  height: 100%;
}

.slider {
  max-width: 400px;
}

.picture {
  width: 100%;
}