.box {
  width: 800px;
  height: calc(100vh - 100px);

  background-color: $color-graybase;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.slider {
  position: relative;
  max-width: 600px;
  max-height: 600px;
}

.picture {
  width: 100%;
}

.button {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 70px;
  background-color: $color-base;

  z-index: 10;
  transition: width .25s;

  &-next {
    right: -70px;
  }

  &-prev {
    left: -70px;
  }

  &:active {
    width: 75px;
  }
}

.title {
  display: inline-block;
  margin: 20px 0 0 0;

  font-size: 20px;
}