.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
}

.container {
  padding: 30px 40px 0;
}

.content {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.logo {
  width: 30px;
  height: 30px;
  border: 2px solid red;
  border-top-color: white;
  border-right-color: white;
  background-color: black;

  transition: transform .25s;
  cursor: pointer;

  &:hover {
    transform: rotate(-90deg);
  }

  &:active {
    transform: scale(.8);
  }
}

.burger {
  position: relative;

  width: 30px;
  height: 18px;
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;
  outline: none;

  span.burgerLine {
    position: absolute;
    top: 8px;
    right: 0;

    width: 20px;
    height: 2px;

    background-color: white;

    transition: width .25s;
  }

  &:before,
  &:after {
    content: '';

    position: absolute;
    right: 0;

    width: 100%;
    height: 2px;
    background-color: white;
    transition: width .25s;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &:hover {
    span.burgerLine {
      width: 30px;
    }

    &:before,
    &:after {
      width: 20px;
    }
  }
}