.table {
  width: 100%;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 
              0px 1px 1px 0px rgba(0,0,0,0.14), 
              0px 2px 1px -1px rgba(0,0,0,0.12);
  border-radius: 4px;
  background-color: #424242;
  border-collapse: collapse;
}

.thead {

  .cel {
    font-size: 13px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
  }
}

.row {
  &:hover {
    background-color: rgba(255, 255, 255, 0.14);
  }
}

.cel {
  padding: 14px 40px 14px 16px;
  border-spacing: 0;
  border-bottom: 1px solid rgba(81, 81, 81, 1);

  font-size: 14px;
  font-weight: 400;

  &:not(:first-of-type) {
    text-align: right;
  }
}

